**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
*.user
*.suo
*.log
*.binlog
**/appsettings.Development.json
.git/
docs/
**/*.db
**/*.db-shm
**/*.db-wal
**/TestResults/
Dockerfile
.dockerignore
.github/
