*/.vs/
## Arquivos e pastas padrão do .NET
*/bin/
*/obj/

## Configurações de usuário e IDEs
*.user
*.suo
*.userosscache
*.sln.docstates

## Pastas de publicação
*/publish/
*/out/

## Pastas de pacotes e cache
*/packages/
*.nupkg
project.lock.json
project.fragment.lock.json
*/artifacts/

## Arquivos temporários
*.log
*.tmp

## Diretórios de Testes e Cobertura
TestResults/
*.coverage
*.coveragexml
*.vsp
*.vspx
*.vspscc
*.vssscc

## Visual Studio e Rider
.vs/
.idea/
*.sln.iml

## Ambientes virtuais ou secrets
.env
*.secret
*.key
*.pfx
*.p12

## Outros
_ReSharper*/
*.DotSettings.user
*.dbmdl
*.bak
