## [ .NET / C# ]
bin/
obj/
out/
publish/
# Arquivos de log de build do MSBuild
*.log
*.binlog

## [ Visual Studio 2022 ]
.vs/
src/.vs
*.user
*.userosscache
*.sln.docstates
# Arquivos de teste e cobertura
TestResults/
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.orig

## [ Visual Studio Code ]
.vscode/
# Se você quiser versionar apenas as configurações de tarefas/debug, 
# remova o comentário abaixo para ignorar apenas o histórico de estados:
# .vscode/project_stats.json

## [ User-specific files ]
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## [ Secrets & Environment ]
.env
.env.*
appsettings.Development.json
# Nota: Muitas vezes o appsettings.Development.json é mantido no git para
# servir de template, mas segredos reais devem usar User Secrets ou Variáveis de Ambiente.

## [ AWS / SAM ]
samconfig.toml

## [ OS specific files ]
.DS_Store
Thumbs.db

## [ Packages ]
*.nupkg
# As pastas 'packages' do NuGet geralmente são restauradas automaticamente
**/packages/*
!**/packages/build/